/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  height: 200px;
}
.container{
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
  margin: 10px;
  border: solid black 3px;
  border-radius: 4px;
  height: 750px;
  background-image: url("../walker.jpeg");
}

.main{
  color: antiquewhite;
  font-size: 54px;
}

.title{
  display:flex;
  align-items: center;
  flex-flow: column;
  padding: 15px;
  height: 250px;
  width: 800px;
  border: solid black 2px;
  border-radius: 4px;
  background: linear-gradient(gray, white);
}

button{
  width: 300px;
  text-align: center;
  font-size: 34px;
  border-radius: 15px;
}

h4{
  width: 50%;
  text-align: center;
  font-size: 36px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
